* {
    -webkit-user-drag: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(43, 43, 43);
    color: rgb(238, 238, 238);
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #434343;
    height: 5vh;
}

.menu-direction {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-direction ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.menu-direction ul li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

#menu {
    text-decoration: none;
    color: rgb(238, 238, 238);
}

.menu-direction ul li:hover,
#menu:hover {
    color: rgb(192, 72, 24);
}

.logo {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    cursor: pointer;
}

.media {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media i {
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 200px;
    transition: 0.1s;
}

.media i:hover {
    background: rgb(49, 49, 49);
}

/* header présentation du resto */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

header h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

/* Section description */

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: black;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description-container .text {
    width: 1000px;
}

.description-container h1 {
    font-size: 3rem;
}

.description-container p {
    font-size: 1.3rem;
}

.button {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.button a {
    padding: 10px 20px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.button a:hover {
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

/* Travaille sur le footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
}

.footer-container {
    width: 100%;
}

.footer-logos {
    display: flex;
    justify-content: center;
}

.footer-logos i {
    margin: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    border: solid 1px white;
}

.ouverture {
    margin-bottom: 40px;
}

.information iframe {
    width: 80%;
    height: 300px;
}