@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

* {
    -webkit-user-drag: none;
    font-family: 'ALkatra', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(43, 43, 43);
    color: rgb(238, 238, 238);
    height: 100vh;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px;
    background: #434343;
    height: 5vh;
    align-items: center;
    user-select: none;
}

.menu-direction {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-direction ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.menu-direction ul li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

.menu-direction li a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}

.menu-direction i {
    display: none;
    font-size: 3rem;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    color: rgb(238, 238, 238);
}

.menu-direction ul li:hover,
.menu-direction a:hover {
    color: rgb(192, 72, 24);
}

.logo {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.logo img {
    cursor: pointer;
    height: 150px;
}

.media {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media i {
    padding: 10px;
    cursor: pointer;
    border-radius: 200px;
    transition: 0.1s;
}

.media a {
    margin: 0 20px;
    color: rgb(238, 238, 238);
}

.media i:hover {
    background: rgb(49, 49, 49);
}

/* Menu Hamburger pour téléphone */

.hamburger-container {
    display: none;
    position: relative;
    margin: 0 20px;
}

.menu-hamburger {
    display: none;
    font-size: 3rem;
    cursor: pointer;
}

/*  Contenu */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: url(../assets/restau\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-container h1 {
    color: #fc2929;
}

.carte {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 17px 20px rgba(0, 0, 0, 0.705);
    width: 80%;
}

.carte p {
    color: #ecc3c3;
}

.carte h2 {
    color: #ff0000;
}

.bold-text {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}


/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
}

.footer-container {
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.tel i {
    margin-right: 20px;
    padding: 5px;
}

.tel p {
    word-spacing: 5px;
}

.tel a {
    color: rgb(38, 154, 255);
    text-decoration: none;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.mail i {
    margin-right: 20px;
    padding: 5px;
}

.mail p {
    word-spacing: 5px;
}

.mail a {
    color: rgb(38, 154, 255);
    text-decoration: none;
}

.footer-logos {
    display: flex;
    justify-content: center;
}

.footer-logos a {
    color: rgb(238, 238, 238);
    margin: 20px;
}

.footer-logos i {
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    border: solid 1px white;
}

.footer-logos i:hover {
    background: rgb(43, 39, 39);
}

.ouverture {
    margin-bottom: 40px;
}

.information iframe {
    width: 80%;
    height: 300px;
    user-select: none;
}

/* Media Queries */


@media screen and (max-width:1200px) {
    .menu-direction ul {
        justify-content: space-between;
        padding: 15px 0;
    }
}

@media screen and (max-width:1050px) {
    nav {
        padding: 20px 0;

    }

    .menu-direction ul {
        justify-content: space-between;
        padding: 0;
    }

    .menu-direction li {
        margin: 0 10px;
    }

    header h1 {
        font-size: 2.3rem;
    }
}

@media screen and (max-width:900px) {
    nav {
        position: static;
    }

    .menu-direction {
        position: fixed;
        background-color: #181717;
        width: 100%;
        height: 100vh;
        top: -150%;
        z-index: 1;
        transition: 0.2s;
    }

    .menu-direction.mobile-menu {
        top: 0;
    }

    .menu-direction ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .menu-direction i {
        display: block;
        top: 35px;
        right: 35px;
    }

    .menu-direction ul li {
        margin: 30px 0;
        font-size: 2.5rem;
    }

    .media {
        position: fixed;
        z-index: 1;
        width: 100%;
        bottom: -150%;
        transition: 0.2s;
    }

    .media.mobile-menu {
        bottom: 100px;
    }

    .logo {
        position: relative;
        height: 80px;
        margin: 20px;
    }

    .logo img {
        position: absolute;
        bottom: -25px;
    }

    .media a {
        margin: 0 40px;
    }

    .media i {
        padding: 15px;
        font-size: 2rem;
    }

    .hamburger-container {
        display: block;
    }

    .menu-hamburger {
        display: block;
    }
}

@media screen and (max-width:310px) {
    header {
        height: 80vh;
    }

    .header-container h1 {
        font-size: 1.7rem;
    }
}

@media screen and (max-height:850px) {
    header {
        height: 90vh;
    }
}

@media screen and (max-height:800px) {
    .media.mobile-menu {
        bottom: 50px;
    }
}

@media screen and (max-height:720px) {
    header {
        height: 100vh;
    }
}

@media screen and (max-height:610px) {
    header {
        height: 110vh;
    }
}

@media screen and (max-height:550px) {
    header {
        height: 120vh;
    }
}